src/main/grammars/with-catalog/test.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    
    <namespace ns="http://exemple.com/counter">
      <validate schema="my-subfolder:/test.rng"></validate>
    </namespace>

</rules>